<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Hospital Limited</title>

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/images/icons/62e6b86e4ac7b987baaeeb08681acad9.png">

        <!-- Bootstrap --> 
        <link href="https://hospitalnew.bdtask.com/demo7/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
                
        <!-- 7 stroke css -->
        <link href="https://hospitalnew.bdtask.com/demo7/assets/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css"/>

        <!-- style css -->
        <link href="https://hospitalnew.bdtask.com/demo7/assets/css/custom.css" rel="stylesheet" type="text/css"/>
        
    </head>
    <body>
